# Discord webhook url
WEBHOOK_URL=""

# Cron schedule for the job. The default is to post the question
# at 5pm every day.
#
# A cron schedule is a way of specifying when to run a task.
# It consists of five fields that indicate the minute, hour, day of the month, month, and day of the week of the task.
# If you don't know how to create a cron schedule yourself, see https://crontab.cronhub.io/.
#
CRON_SCHEDULE="0 17 * * *"
